<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-2">
            <div class="btn-group mt-3 flex-column">
                <button (click)="viewChange('basic')" class="btn btn-info">Basic</button>
                <button (click)="viewChange('preview')" class="btn btn-info">Preview</button>
                <button (click)="viewChange('offer')" class="btn btn-info">Offer</button>
            </div>
        </div>
        <div class="col-8">
            <div [ngSwitch]=ViewName>
                <div *ngSwitchCase="'basic'">
                    <h2>realme P1 5G (Peacock Green, 128 GB)  (8 GB RAM)</h2>
                </div>
                <div *ngSwitchCase="'preview'">
                    <img src="assets/public/images/cp2.png" alt="">
                </div>
                <div *ngSwitchCase="'offer'">
                    <ul class="list-unstyled">
                        <li class="bi-arrow-up-circle-fill">Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</li>
                        <li class="bi-arrow-up-circle-fill"> Special PriceGet extra ₹5000 off (price inclusive of cashback/coupon)T&C</li>
                        <li class="bi-arrow-up-circle-fill">FreebieSpotify Premium - 12M at ₹699T&C</li>
                        <li class="bi-arrow-up-circle-fill">Get Extra 5% Off on Next purchase of Home & Kitchen AppliancesT</li>
                    </ul>

                </div>
                <div *ngSwitchDefault>
                    Please click a button.
                </div>
            </div>
        </div>
    </div>
</div>