<div class="p-6 bg-gray-50 min-h-screen">
    <!-- Profile Header -->
    <div class="flex flex-col md:flex-row justify-between gap-8 bg-gray-50 p-6 rounded-lg shadow">
        <!-- User Info Form -->
        <div class="flex-1 bg-white shadow-md rounded-lg p-6 space-y-4">
            <div class="flex flex-col md:flex-row justify-between">
                <h2 class="text-2xl font-semibold text-gray-800">User Name: {{ userName }}</h2>

                <div class="flex ">
                    <button *ngIf="!isEditing" (click)="enableEdit()"
                        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                        Edit Profile
                    </button>
                    <button *ngIf="isEditing" (click)="cancelEdit()"
                        class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
                        Cancel Editting
                    </button>
                </div>
            </div>

            <form [formGroup]="profileForm" class="space-y-4">
                <!-- Names -->
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div>
                        <label class="block text-gray-400 font-medium mb-1">First Name</label>
                        <input formControlName="firstName"
                            class="w-full border border-gray-300 rounded-lg px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" />
                        <div *ngIf="profileForm.get('firstName')?.invalid && profileForm.get('firstName')?.dirty"
                            class="text-red-500">
                            First name is required
                        </div>
                    </div>
                    <div>
                        <label class="block text-gray-400 font-medium mb-1">Middle Name</label>
                        <input formControlName="midlename"
                            class="w-full border border-gray-300 rounded-lg px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                    <div>
                        <label class="block text-gray-400 font-medium mb-1">Last Name</label>
                        <input formControlName="lastname"
                            class="w-full border border-gray-300 rounded-lg px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" />
                        <div *ngIf="profileForm.get('lastname')?.invalid && profileForm.get('firstName')?.dirty"
                            class="text-red-500">
                            First name is required
                        </div>
                    </div>
                </div>

                

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <!-- DOB -->
                <div>
                    <label class="block text-gray-400 font-medium mb-1">DOB</label>
                    <input type="date" formControlName="dob"
                        class="w-full border border-gray-300 rounded-lg px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    <div *ngIf="profileForm.get('dob')?.invalid && profileForm.get('firstName')?.dirty"
                        class="text-red-500">
                        DOB is required
                    </div>
                </div>
                    <!-- Emails -->
                    <div formArrayName="emails" class="space-y-2">
                        <label class="block text-gray-400 font-medium mb-1">Emails</label>
                        <div *ngFor="let email of emails.controls; let i = index" class="flex gap-2 items-center">
                            <input [formControlName]="i" class="w-full border rounded px-3 py-2" />
                            <button *ngIf="isEditing" type="button" (click)="removeEmail(i)"
                                class="bg-red-500 text-white px-2 py-1 rounded">✕</button>
                        </div>
                        <button *ngIf="isEditing" type="button" (click)="addEmail()"
                            class="bg-green-500 text-white px-3 py-1 rounded mt-2">+ Add Email</button>
                        <!-- Validation messages -->
                        <div *ngIf="emails.invalid && (emails.dirty || emails.touched)" class="text-red-500 text-sm">
                            <span *ngIf="emails.errors?.['required']">Email is required.</span>
                            <span *ngIf="emails.errors?.['email']">Invalid email address.</span>
                        </div>
                    </div>

                    <!-- Phone Numbers -->
                    <div formArrayName="phoneNumbers" class="space-y-2">
                        <label class="block  text-gray-400 font-medium mb-1">Phone Numbers</label>
                        <div *ngFor="let phone of phoneNumbers.controls; let i = index" class="flex gap-2 items-center">
                            <input [formControlName]="i" class="w-full border rounded px-3 py-2" />
                            <button *ngIf="isEditing" type="button" (click)="removePhone(i)"
                                class="bg-red-500 text-white px-2 py-1 rounded">✕</button>
                        </div>
                        <button *ngIf="isEditing" type="button" (click)="addPhone()"
                            class="bg-green-500 text-white px-3 py-1 rounded mt-2">+ Add Phone</button>
                    </div>

                </div>
                <button *ngIf="isEditing" (click)="submitProfile()"
                    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Update
                    Profile</button>
            </form>
        </div>
        <div>
            <!-- Profile Image (Fixed Size) -->
            <div class="flex justify-center md:justify-end">
                <div class="w-40 h-40 rounded-full overflow-hidden shadow-lg border border-gray-200">
                    <img src="../../../assets/public/images/uploaded_file/boy.svg" alt="Profile Image"
                        class="w-full h-full object-cover" />
                </div>
            </div>


        </div>

    </div>

    <!-- Tabs -->
    <div class="mt-6 border-b border-gray-200 flex gap-4">
        <button class="py-2 px-4 font-medium text-gray-700 border-b-2"
            [ngClass]="activeTab === 'access' ? 'border-blue-500 text-blue-600' : 'border-transparent hover:text-blue-500'"
            (click)="activeTab = 'access'">
            Access
        </button>
        <button class="py-2 px-4 font-medium text-gray-700 border-b-2"
            [ngClass]="activeTab === 'address' ? 'border-blue-500 text-blue-600' : 'border-transparent hover:text-blue-500'"
            (click)="activeTab = 'address'">
            Address
        </button>
    </div>

    <!-- Tab Content -->
    <div class="mt-4 space-y-6">
        <!-- Access Tab -->
        <div *ngIf="activeTab === 'access'" class="bg-white p-4 rounded shadow">
            <div>
                <h3 class="text-lg font-semibold text-gray-700 mb-2">Role</h3>
                <ul class="list-disc list-inside text-gray-600">
                    <li *ngFor="let role of roles">{{ role }}</li>
                </ul>
            </div>
            <div class="mt-4">
                <h3 class="text-lg font-semibold text-gray-700 mb-2">Permission</h3>
                <ul class="list-disc list-inside text-gray-600">
                    <li *ngFor="let permision of profileData.actions">{{ permision }}</li>
                </ul>
            </div>
        </div>

        <!-- Address Tab -->
        <form [formGroup]="profileForm">
            <div formArrayName="addreses">
                <div *ngIf="addreses.length > 0 && activeTab === 'address'" class="space-y-4">
                    <div *ngFor="let addressCtrl of addreses.controls; let i = index" [formGroupName]="i"
                        class="bg-white p-4 rounded shadow space-y-2">
                        <div>
                            <div class="flex flex-col md:flex-row justify-between items-center">
                                <!-- Left: Address type name -->
                                <h4 class="text-md font-semibold text-gray-800 mb-2 md:mb-0">
                                    {{ addressCtrl.value.addressTypeName }} Address
                                </h4>

                                <!-- Right: Buttons group -->
                                <div class="flex space-x-2">
                                    <button *ngIf="isEditing"
                                        class="px-2 py-1 bg-blue-500 text-white rounded hover:bg-blue-600"
                                        (click)="updateAddress(i)">
                                        Update {{ addressCtrl.value.addressTypeName }} Address
                                    </button>

                                    <button *ngIf="isEditing" type="button" (click)="removeAddress(i)"
                                        class="px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600">
                                        Remove {{ addressCtrl.value.addressTypeName }} Address
                                    </button>
                                </div>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">Main Street</label>
                                    <input formControlName="mainStreet" placeholder="Main Street"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                                    <div *ngIf="addressCtrl.get('mainStreet')?.invalid && addressCtrl.get('mainStreet')?.touched"
                                        class="text-red-500">
                                        Main Street is required
                                    </div>
                                </div>
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">Street1</label>
                                    <input formControlName="street1" placeholder="Street 1"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                                    <div *ngIf="addressCtrl.get('street1')?.invalid && addressCtrl.get('street1')?.touched"
                                        class="text-red-500">
                                        Street1 is required
                                    </div>
                                </div>
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">Street2</label>
                                    <input formControlName="street2" placeholder="Street 2"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                                </div>
                                <div> <label class="block text-gray-400 font-medium mb-1">Street3</label>
                                    <input formControlName="street3" placeholder="Street 3"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                                </div>
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">Street4</label>
                                    <input formControlName="street4" placeholder="Street 4"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                                </div>
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">Pincode</label>
                                    <input formControlName="pincode" placeholder="Pincode"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                                    <div *ngIf="addressCtrl.get('pincode')?.invalid && addressCtrl.get('pincode')?.touched"
                                        class="text-red-500">
                                        Pincode is required
                                    </div>
                                </div>
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">Landmark</label>
                                    <input formControlName="landmark" placeholder="Landmark"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                                    <div *ngIf="addressCtrl.get('landmark')?.invalid && addressCtrl.get('landmark')?.touched"
                                        class="text-red-500">
                                        Landmark is required
                                    </div>
                                </div>

                                <!-- Country   -->
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">Country</label>
                                    <select formControlName="countryEng" (blur)="updateCountry(i)"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">
                                        <option value="" disabled>Select Country</option>
                                        <option *ngFor="let country of countries" [ngValue]="country.name">
                                            {{ country.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="addressCtrl.get('countryEng')?.invalid && addressCtrl.get('countryEng')?.touched"
                                        class="text-red-500">
                                        Country is required
                                    </div>
                                </div>

                                <!-- State dropdown -->
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">State</label>
                                    <select formControlName="stateEng" (blur)="updateState(i)"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">
                                        <option value="" disabled>Select State</option>
                                        <option *ngFor="let state of statesByIndex[i]" [value]="state.name">
                                            {{ state.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="addressCtrl.get('stateEng')?.invalid && addressCtrl.get('stateEng')?.touched"
                                        class="text-red-500">
                                        State is required
                                    </div>
                                </div>

                                <!-- City dropdown -->
                                <div>
                                    <label class="block text-gray-400 font-medium mb-1">City</label>
                                    <select formControlName="cityEng" (blur)="updateCity(i)"
                                        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">
                                        <option value="" disabled>Select City</option>
                                        <option *ngFor="let city of citiesByIndex[i]" [value]="city.name">
                                            {{ city.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="addressCtrl.get('cityEng')?.invalid && addressCtrl.get('cityEng')?.touched"
                                        class="text-red-500">
                                        City is required
                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button *ngIf="isEditing" type="button" (click)="addAddress()"
            class="bg-red-500 text-white px-2 py-1 rounded">Add Address</button>
    </div>
</div>