<div class="container-fluid">
    <div class="row">
        <nav class="col-2">
            <div (mouseover)="changeView('view1')">
                <img src="assets/public/images/cp1.png" alt="" srcset="">
            </div>
            <div (mouseover)="changeView('view2')">
                <img src="assets/public/images/cp2.png" alt="" srcset="">
            </div>
            <div (mouseover)="changeView('view3')">
                <img src="assets/public/images/cp3.png" alt="" srcset="">
            </div>
            <div (mouseover)="changeView('view4')">
                <img src="assets/public/images/cp4.png" alt="" srcset="">
            </div>
            <div (mouseover)="changeView('view5')">
                <img src="assets/public/images/cp5.png" alt="" srcset="">
            </div>
            <div (mouseover)="changeView('view6')">
                <img src="assets/public/images/cp6.png" alt="" srcset="">
            </div>
            <div (mouseover)="changeView('view7')">
                <img src="assets/public/images/cp7.png" alt="" srcset="">
            </div>

        </nav>
        <div class="col-4">
            <div *ngIf="true; then View"></div>
            <ng-template #View1>
                <img src="assets/public/images/cp1.png" width="200" height="300">
            </ng-template>
            <ng-template #View2>
                <img src="assets/public/images/cp2.png" width="200" height="300">
            </ng-template>
            <ng-template #View3>
                <img src="assets/public/images/cp3.png" width="200" height="300">
            </ng-template>
            <ng-template #View4>
                <img src="assets/public/images/cp4.png" width="200" height="300">
            </ng-template>
            <ng-template #View5>
                <img src="assets/public/images/cp5.png" width="200" height="300">
            </ng-template>
            <ng-template #View6>
                <img src="assets/public/images/cp6.png" width="200" height="300">
            </ng-template>
            <ng-template #View7>
                <img src="assets/public/images/cp7.png" width="200" height="300">
            </ng-template>
        </div>
        <div class="col-6">

        </div>
    </div>

</div>