  .mat-label{
    color: black;
  }
  .move-reg-btn{
    margin-top: 5rem;
  }
  .reg-img{
    margin-left: 2rem;
    height: 25rem;
    width: 28rem;
  }
  .show-password-btn {
    outline: none;
    padding: 0;
  }