<div class="contact-container">
    <h1>Contact Us</h1>
    <p>If you have any questions or concerns, feel free to reach out using the form below:</p>

    <form [formGroup]="frmContact" (submit)="onSubmit()">
        <div class="contact-top">
                <mat-form-field>
                    <mat-label>Your Name</mat-label>
                    <input type="text" required placeholder="Enter Your Name" matInput [formControl]="userNameCntrl">
        
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Your Email</mat-label>
                    <input type="text" required placeholder="Enter Your Email" matInput [formControl]="userEmailCntrl">
                </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Subject</mat-label>
            <input type="text" required placeholder="Subject" matInput [formControl]="subjectCntrl">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea  type="textarea" required placeholder="Message" matInput [formControl]="messgaeCntrl"></textarea>
        </mat-form-field>
        <button type="submit">Submit</button>
    </form>
</div>