* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    // max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 28px;
}

h2 {
    color: #555;
    margin: 20px 0 10px;
    font-size: 22px;
}

p {
    color: #666;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

li {
    color: #555;
    margin-left: 20px;
    list-style-type: disc;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #333;
}
