<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="home-heading">Online Test</h2>
          
            <p class="home-content">
                Welcome to SPXAM, your trusted platform for seamless, secure online exams, empowering educators and institutions with tools for creating, administering, and grading exams efficiently. 
                <br><br>Experience a fair, transparent, and user-friendly system with real-time monitoring, comprehensive analytics, and easy access from anywhere, anytime.
            </p>

            <button  class="home-reg-btn btn btn-primary btn-lg rounded-5" [routerLink]="['/register']">Get Started</button>
        </div>
        <div class="col-6">
            <img class="home-img" src="../../../assets/public/images/home-img.png" alt="" srcset="">
        </div>
      
    </div>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    
    </div>

