<h1 class="text-bg-dark p-3 text-center">Shopping online <span class="bi-arrow-bar-up"></span></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-filter [CategoryCount]="CategoryCount" [AllCategory]="AllCategory" (CategoryChange)="CategoryChange($event)"></app-filter>
    </div>
    <div class="col-9">
      <div class="d-flex flex-wrap">
        <div *ngFor="let item of AllProduct" class="mb-3">
          <div class="card" style="width: 15rem;">
            <img height="150px" src="{{ item.image }}" class="product_img card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <!-- <p class="card-text">{{ item.description }}</p> -->
            </div>
            <!-- <div class="card-footer">
                <button  class="btn btn-primary">Add to cart</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
