
.img-logo{
    width:10rem;
    margin-top: 2rem;
    margin-left: -40rem;
}
.btn-reg{
    margin-top: 2rem;
    margin-left: 2rem;
}
.home-link{
    text-transform: uppercase;
    font-weight: 600;
    color: #7d7e80;
    font-size: larger;
}
.nav{
    margin-left: 15rem;
}