<header class="container text-center">
    <div class="row nav">
        <div class="col-sm-3"  >
            <img class="img-logo" [routerLink]="['home']" [src]="HeaderLogo" alt="SPXAM">
            <a class="btn-reg btn home-link" [routerLink]="['home']">Home</a>
        </div>
      
        <div class="col-sm-9">
            <div class="btn-reg btn btn-outline-primary" [routerLink]="['register']">
              Register
            </div>
            <div class="btn-reg btn btn-outline-primary" [routerLink]="['login']">
                Login
              </div>
        </div>
    </div>
</header>